@mixin button-style($bg: $button-base-bg-color, $color: $button-base-link, $bg-hover: darken($bg, 20), $include-border: true, $border-color: darken($bg, 20) ) {
	background-color: $bg;
	color: $color;
	&:hover {
		background-color: $bg-hover;
	}

    @if $include-border == true {
        border-bottom: 5px solid $border-color;
    }
}

@mixin button-shiny($color) {
    &.shiny {
        @include linear-gradient( lighten($color, 8), darken($color, 8) );
    }
    &.shiny:hover {
        @include linear-gradient( darken($color, 8), lighten($color, 8) );
    }
}
