/*
TYPOGRAPHY
---------------------------------------------------------------------------------------------------- */

p {
    @include rem(margin, 0 0 24px);
    padding: 0;
}

strong {
    font-weight: 700;
}


blockquote,
blockquote::before {
    color: #999;
}

blockquote {
    @include rem(margin, 40px 40px 24px);
}

blockquote::before {
    content: "\201C";
    display: block;
    font-size: 30px;
    font-size: 3rem;
    height: 0;
    left: -20px;
    position: relative;
    top: -10px;
}

.entry-content code {
    background-color: #333;
    color: #ddd;
}

cite {
    font-style: normal;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-family: $heading-font-family;
    font-weight: 700;
    line-height: 1.2;
    @include rem(margin, 0 0 16px);
    @include font-feature-settings('liga');
}

h1,
.font-size-huge {
    @include rem(font-size, $font-size-huge);
}

h2,
.font-size-xxxl & {
    @include rem(font-size, $font-size-xxxl);
}

h3,
.font-size-xxl & {
    @include rem(font-size, $font-size-xxl);
}

h4,
.font-size-xl {
    @include rem(font-size, $font-size-xl);
}

h5,
.font-size-large {
    @include rem(font-size, $font-size-large);
}

h6,
.font-size-medium {
    @include rem(font-size, $font-size-medium);
}

.font-size-small {
    @include rem(font-size, $font-size-small);
}

.font-size-tiny {
    @include rem(font-size, $font-size-tiny);
}

.font-size-micro {
    @include rem(font-size, $font-size-micro);
}
