/*
Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
    background-color: $color-header-bg;
}

.site-header .wrap {
    @include rem(padding, 30px 0 30px);
}

/* Title Area
--------------------------------------------- */
.title-area {
    float: left;
    font-family: $font-family-primary;
    font-weight: 700;
    padding: 0;
    width: 320px;
}

.header-image .title-area {
    padding: 0;
}

.site-title {
    @include rem(font-size, $font-size-xxxl);
    line-height: 1;
    @include rem(margin, 0 0 8px);
    text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
    color: $color-header-text;
}

.site-description {
    color: $color-header-subheader;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0;
}

/* Full width header, no widgets */
.header-full-width .title-area,
.header-full-width .site-title {
    width: 100%;
}

.header-image .site-description,
.header-image .site-title a {
    display: block;
    text-indent: -9999px;
}

/* Logo, hide text */
.header-image .site-header .wrap {
    background: url(images/logo.png) no-repeat left;
    padding: 0;
}

.header-image .site-title a {
    float: left;
    min-height: 164px;
    width: 100%;
}

/* Widget Areas
--------------------------------------------- */

.site-header .widget-area {
    display: block;
    text-align: right;

    float: left;
    width: 800px;
}

.header-image .site-header .widget-area {
    padding: 40px 0;
    padding: 4rem 0;
}

.site-header .search-form {
    float: right;
    margin-top: 24px;
    margin-top: 2.4rem;
}
