/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */
.sidebar .enews-widget {
    background-color: $enews-color-bg;
}

.enews-widget {
    color: $enews-color-text;
}

.enews-widget .widget-title {
    color: $enews-color-heading;
}

.enews-widget input {
    @include rem(margin-bottom, 16px);
}

.enews-widget input:focus {
    border: 1px solid $color-info;
}

.enews-widget .widget-title + p {
     @include rem(font-size, $enews-subheader-font-size);
}

.enews-widget form + p {
    @include rem(margin-top, 10px);
    @include rem(font-size, $enews-post-font-size);
    text-align: center;
}

.enews-widget input[type="submit"] {
    @include button-style($color-success);
    @extend .button.expand;
}

/* Genesis Latest Tweets
--------------------------------------------- */
.latest-tweets ul li {
    margin-bottom: 16px;
    margin-bottom: 1.6rem;
}

/* Gravity Forms
--------------------------------------------- */
div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
    font-size: 16px;
    font-size: 1.6rem;
    padding: 16px;
    padding: 1.6rem;
}

div.gform_wrapper .ginput_complex label {
    padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
    margin: 16px 0 0;
    margin: 1.6rem 0 0;
}

div.gform_wrapper .gform_footer input[type="submit"] {
    font-size: 14px;
    font-size: 1.4rem;
}

/* Jetpack
--------------------------------------------- */
img#wpstats {
    display: none;
}
